# dependencies
/node_modules
/client/node_modules
/server/node_modules

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build output
/dist
/client/dist
/server/dist

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MongoDB
/data
mongodb-macos-*

# IDE
.idea
.vscode
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride